.maker-lookup {
  &__container-result {
    width: 100%;
  }
  &__no-margin {
    margin: 0px;
  }

  &__image-example {
    width: 800px;
  }

  &__input-read-only {
    border: 0;
    border-bottom: 1px solid #b1b1b1;
    -webkit-appearance: none;
    appearance: none;
    font-size: 13pt;
    line-height: 24px;
    border-radius: 0;
    height: auto;
    padding: 0 0 5px;
    margin-bottom: 15px;
    background-color: transparent;
    width: 100%;
    color: #495057;
  }

  &__input {
    border: 0;
    border-bottom: 1px solid #b1b1b1;
    -webkit-appearance: none;
    appearance: none;
    font-size: 13pt;
    line-height: 24px;
    border-radius: 0;
    height: auto;
    padding: 0 0 5px;
    margin-bottom: 15px;
    background-color: transparent;
    width: 100%;
  }

  &__text-left {
    text-align: left;
  }

  &__text-right {
    text-align: right;
  }
  &__text-blue {
    color: #075ca6;
  }

  &__text-orange {
    color: #f36421 !important;
  }
  &__text-red {
    color: red !important;
  }
  &__label {
    font-size: 12pt;
    width: 100%;
  }
  &__container-image {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  &__image {
    max-width: 800px;
  }

  &__requirement-container {
    padding-right: 40px;
    padding-left: 40px;
  }
  &__check-icon {
    color: #4caf50;
  }
  &__container-alert {
    font-size: 21px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 500;
  }

  &__mg-top-5 {
    margin-top: 5px;
  }

  &__padding-top-25 {
    padding-top: 25px;
  }


  &__maker-lookup {
    max-height: 85vh !important;
  }

  &__width-maker-lookup {
    width: 1200px !important;
    max-width: 1200px !important;
  }
  &__footer {
    padding-left: 20px;
  }

  &__invalid-message {
    margin-top: -20px;
    color: red;
  }

  &__border-invalid {
    border-bottom: 4px solid red !important;
  }
  &__width-40{
    width: 40px;
  }
  
  &__sub-container-result {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

    
  &__alert {
    text-align: center;
  }

  &__header-result {
   padding-top: 20px;
  }

  &__empty{
    margin-top: 24px;
  }

  &__text-helpCheckSize {
    font-size: 14px !important;
    background-color: rgba($primary, 1) !important;
    color: #fff !important;
    border-radius: 6px !important;
    min-width: 120px !important;
  }
  &__text-helpCheckSize.place-bottom::after {
    border-bottom-color: $primary !important;
  }
  &__text-helpCheckSize.place-top::after {
    border-top-color: $primary !important;
  }
  &__text-helpCheckSize.place-left::after {
    border-left-color: $primary !important;
  }
  &__text-helpCheckSize.place-right::after {
    border-right-color: $primary !important;
  }

  &__question-mark {
    cursor: pointer;
    vertical-align: top;
    border: none;
    background-color: transparent;
  }
  &__requirement-container {
    padding-right: 40px;
    padding-left: 40px;
  }

  &__check-icon {
    color: #4caf50;
  }

  &__mg-top-5 {
    margin-top: 5px;
  }

  &__check-fields {
    width: 100%;
  }

  

}
